.fz-16 {
    font-size: 16pz;
}

.fz-20 {
  font-size: 20pz;
}

.fz-24 {
  font-size: 24pz;
}

.bold {
    font-weight: bold;
}

.thin {
    font-weight: 300;
}

.italic {
    font-style: italic;
}

.text-color-primary {
    color: $primary;
}

.text-color-danger {
  color: $danger;
}

.text-color-sucess {
  color: $sucess;
}

.text-color-warning {
  color: $warning;
}

.text-color-dark {
  color: $dark;
}