.p10 {
  padding: 10px;
}

.p20 {
padding: 20px;
}

.pt-10 {
padding: 10px;
}

.pb-10 {
padding: 10px;
}

.pl-10 {
padding: 10px;
}

.pr-10 {
padding: 10px;
}

.pt-20 {
padding: 20px;
}

.pb-20 {
padding: 20px;
}

.pl-20 {
padding: 20px;
}

.pr-20 {
padding: 20px;
}